<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantNames</key>
	<array>
		<string>California Pizza Kitchen</string>
		<string>Pieology</string>
		<string>Panda Express</string>
		<string>Applebee&apos;s</string>
		<string>Johnny Rockets</string>
		<string>Sushi Bay</string>
	</array>
	<key>restaurantDescription</key>
	<array>
		<string>We opened our first restaurant In Beverly Hills in 1985. Former federal prosecutors Rick Rosenfield and Larry Flax combined their passion for food with fresh high-quality ingredients to create innovative, hearth-baked pizzas such as The Original BBQ Chicken, Thai Chicken, and Jamaican Jerk Chicken, cooked in an open kitchen. The restaurant gave California a place in the pizza pantheon alongside Chicago and New York. Our California twist on global flavors resonated with guests, and almost immediately, CPK became a bustling spot for business and family gatherings.</string>
		<string>We didn’t set out to create just another create-your-own pizzeria. We’re here to nourish and inspire — to serve creativity — and celebrate people coming together to connect. It’s a bigger vision. One filled with purpose. For pizza, people and passion.
Before we embarked on our create-your-own pizza experience, our story began in the kitchen, with our founder, his wife and daughters, and a plan to share time together. From that day on, Pieology would forever be a fresh retreat from the everyday hustle and bustle -- where the only thing more important than quality food is quality people to share it with.</string>
		<string>Bringing people together to share joy has been our family&apos;s inspiration since opening the first Panda Express in 1983 in Glendale, California. As we continue to open restaurants from coast to coast and around the world, the bold flavors of Chinese cuisine inspire our cooking, while our extended family of guests and associates remains at the heart of what we do. Welcome to our family&apos;s Chinese Kitchen.</string>
		<string>Bill and TJ Palmer opened the restaurant that would later become Applebee’s. We’ve grown up a lot since then, with almost 2,000 locations in the U.S. and around the world. Here you will always be welcome – for delicious food, in a neighborhood setting, with attentive service, at a great value.</string>
		<string>Johnny Rockets is an international restaurant franchise that offers high quality, innovative menu items including fresh, never frozen 100% beef cooked-to-order burgers, fries and hand-spun shakes. This restaurant features a modern twist on the classic diner – with comfortable seats and areas perfect for gathering, friendly approachable service and music that combines iconic classics with pop culture. Founded in 1986, Johnny Rockets operates more than 350 franchise and corporate locations in 32 countries around the world.</string>
		<string>Simple conveyor-belt sushi restaurant offering classic rolls &amp; Japanese eats in an informal setting.</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>cpkMililani</string>
		<string>pieologyPearlridge</string>
		<string>pandaExpress</string>
		<string>applebees</string>
		<string>johnnyRocketsPearlHighlands</string>
		<string>sushiBay</string>
	</array>
</dict>
</plist>
